*{
  margin: 0;
}

body{
  font-family: 'Josefin Sans';
  margin: 0;
}

/* Desktop Navbar */

nav {
  width: 100%;
  height: 70px;
  max-width: 100%;
  background-color: #ED8A0A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px; 
  padding: 0;
  margin: 30px;
}

li {
  list-style: none;
}


.navbar-options {
  list-style-type: none;
  margin: 30px;  
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #ffffff;
  font-size: 1.7m;
}

/* Botón Navbar Dona aquí */

.li-donations{
  background-color: #ffffff;
  border-radius: 2em;
  padding-top: 0.4em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-bottom: 0.4em;
  color:#000000;
  text-align: center;
  font-family: 'Josefin Sans';
}

/* Mobile Sidebar btn */

.menu-btn {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
  color: #ffffff;
}

/* Ocultar Sidebar */

#sidebar {
  width: 300px; /* Definido un ancho fijo para la sidebar */
  height: 100%;
  position: absolute;
  background: #ffffff;
  left: -300px;
  transition: left 0.4s ease;
  z-index: 20;  
}

/* Activar Sidebar */

#sidebar.active {
  position: fixed;
  left: 0;
  width: 40%;
  height: 100%;
  transition: .4s
}

#sidebar ul li {
  padding-top: 0.5em;
  color: #222222;
  font-size: 100%;
  font-weight: 400;
  margin: 10%;  
}

#sidebar ul {
  margin-top: 2em;
}

#sidebar .fa-xmark {
  font-size: 1.5em;
  position: absolute;
  top: 20px; /* Añadido para posicionar el icono de cerrar */
  right: 30px;
  cursor: pointer;
}

/* --------------------- Responsive Design ------------------------- */

@media (min-width: 992px) {
  .sidebar {
      display: none;
  }
}

@media (max-width: 992px) {
  .navbar-options {
      display: none;
      gap: 0;
  }

  nav {
    justify-content: baseline;
  }

  .menu-btn {
    font-size: 1.4rem;
    display: block;
    margin: 20px;
  }

  nav ul {
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 20px;
  }
}