  /* --------------------- Desktop Design ------------------------- */

*{
  margin: 0;
}

body{
  font-family: 'Josefin Sans';
  margin: 0;
}

/* Desktop Navbar */

nav {
  width: 100%;
  height: 70px;
  max-width: 100%;
  background-color: #ED8A0A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px; 
  padding: 0;
  margin: 30px;
}

li {
  list-style: none;
}

.navbar-options {
  list-style-type: none;
  margin: 30px;  
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #ffffff;
  font-size: 1.7m;
}

/* Botón Navbar Dona aquí */

.li-donations{
  background-color: #ffffff;
  border-radius: 2em;
  padding-top: 0.4em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-bottom: 0.4em;
  color:#000000;
  text-align: center;
  font-family: 'Josefin Sans';
}

/* Mobile Sidebar btn */

.menu-btn {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
  color: #ffffff;
}

/* Ocultar Sidebar */

#sidebar {
  width: 300px; /* Definido un ancho fijo para la sidebar */
  height: 100%;
  position: absolute;
  background: #ffffff;
  left: -300px;
  transition: left 0.4s ease;
  z-index: 20;  
}

/* Activar Sidebar */

#sidebar.active {
  position: fixed;
  left: 0;
  width: 40%;
  height: 100%;
  transition: .4s
}

#sidebar ul li {
  padding-top: 0.5em;
  color: #222222;
  font-size: 100%;
  font-weight: 400;
  margin: 10%;  
}

#sidebar ul {
  margin-top: 2em;
}

#sidebar .fa-xmark {
  font-size: 1.5em;
  position: absolute;
  top: 20px; /* Añadido para posicionar el icono de cerrar */
  right: 30px;
  cursor: pointer;
}

/* Desktop Banner */
  
.banner {
    width: 100%;
    height: 530px;
    background-color: #7BE950;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.izquierda {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-left: 17%;
}

.derecha {
    width: 70%;
    height: 400px;
    text-align: right;
    margin-right: 10%;
    margin-bottom: -20px;
    z-index: 20;
}

.derecha h1 {
    font-family: "Cherry Bomb One", system-ui;
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 0.5em;
    color: #0A5C1B;
    line-height: 80px;
}

.vector {
    position: absolute;
    width: auto;
    height: 500px;
    margin-top: -48px;
    margin-right: 20px;
}

.img-banner {
    z-index: 19;
    width: auto;
    height: 350px;
    margin-right: -30px;
    margin-top: 15px;
}

.texto {
  vertical-align: middle;
}

.texto h2, .texto p {
    font-family: "Josefin Sans", sans-serif;
    color: #272523;
    margin-bottom: 1.2em;
    font-size: 1.2em;

}

.texto p {
    margin-left: 300px;
}

#conocelos-btn {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  color: white;
  background-color: #58C22F;
  border: none;
  box-shadow: 3px 4px #68686824;
  font-family: "Josefin Sans", sans-serif;
}

/* Mobile Filtros y Tarjetas */

/* Filtros */

.mascotas-container {
  width: 100%;
  height: 1300px;
  background-color: #C08AF3;
  box-shadow: rgba(0, 0, 0, 0.25);

}

.mascotas-barra {
  width: 100%;
  height: 60px;
  gap: 1rem;
  background-color: #F0D8FF;
}

.opciones-mascota {
  width: auto;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

#bars-2 {
  color: #ED8A0A;
  margin-right: 5px;
}

select[name='ordenar'] {
  background-color: #ED8A0A;
  border-radius: 2em;
  border: none;
  padding-top: 0.4em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-bottom: 0.4em;
  color:#ffffff;
  text-align: center;
  font-family: 'Josefin Sans';
}

#btn-limpiar {
  background-color: #ED8A0A;
  border-radius: 2em;
  border: none;
  padding-top: 0.4em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-bottom: 0.4em;
  color:#ffffff;
  text-align: center;
  font-family: 'Josefin Sans';
}

#btn-limpiar::placeholder {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2em;
  border: none;
  padding-top: 0.4em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-bottom: 0.4em;
  color:#ED8A0A;
  text-align: center;
  font-family: 'Josefin Sans';
}

.mascotas-filtros {
  width: auto;
  margin: 40px;
  text-align: center;
  display: none;
}

.mascotas-filtros.active {
  width: auto;
  margin: 40px;
  text-align: center;
}

select[name='elegir'] {
  background-color: #5C2E80;
  border-radius: 2em;
  border: none;
  padding-top: 0.4em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  padding-bottom: 0.4em;
  color:#ffffff;
  text-align: center;
  font-family: 'Josefin Sans';
}


/* Tarjetas */

.mascotas-tarjetas {
  width: auto;
}

.nuestras-mascotas {
  width: auto;
  font-family: "Cherry Bomb One";
  font-size: 4.5em;
  font-weight: 400;
  margin-top: 1.2em;
  margin-bottom: 1.4em;
  color: #4C1271;
  line-height: 80px;
  text-align: center;
}

.huesos1{
  text-align: center;
  margin-left: 180px;
  margin-top: -200px;
}

.huesos2{
  text-align: center;
  margin-left: 180px;
}

.img-hueso1 {
  transform: scaleX(-1);
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.img-hueso2 {
  position: absolute;
}

.img-hueso3 {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.img-hueso4 {
  transform: scaleX(-1);
  position: absolute;
}

#root {
  margin-top: 240px;
}

.tarjeta {
  width: auto;
  height: 500px;
  position: absolute;
  border: none; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.412); 
  background-color: #ffffffc2; 
  max-width: 300px; 
  margin: 20px; 
  z-index: 15;
}

/* Tarjetas contenido */

.tarjeta-img {
  width: 100%; 
  height: auto; 
  display: block; 
}

.tarjeta-contenido {
  padding: 20px; 
  font-size: 1em; 
  margin: 0 0 16px; 
  color: #1e1e1e; 
}

  /* --------------------- Mobile Design ------------------------- */
  
/* Mobile Navbar */

@media (min-width: 992px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-options {
    display: none;
    gap: 0;
  }

  nav {
    justify-content: baseline;
  }

  .menu-btn {
    font-size: 1.4rem;
    display: block;
    margin: 20px;
  }

  nav ul {
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 20px;
  }
}

/* Mobile Banner */

@media (max-width: 992px) {

  .banner {
    width: 100%;
    height: 1050px;
    background-color: #7BE950;
    display: flex;
    flex-direction: column; /*ponerlo en columna*/
    justify-content: space-evenly;
    align-items: center;
  }

  .izquierda {
      width: 70%;
      height: 500px;
      display: flex;
      justify-content: center;
      margin-top: 8rem;
      margin-left: 6.5em;
      text-align: center;
      z-index: 19;
  }

  .vector {
    position: absolute;
    margin-right: 20px;
    width: 80%;
    height: 400px;
    margin-top: -80px;
    margin-right: 105px;
  }

  .img-banner {
      z-index: 19;
      width: auto;
      height: 250px;
      margin-right: 90px;
      margin-top: -5px;
  }

  .derecha {
      width: 70%;
      height: 500px;
      text-align: center;
      z-index: 19;
      margin-left: 3em;
      margin-top: -120px;
  }

  .texto {
    text-align: center;
    width: 100%;
  }

  .texto h1 {
      font-family: "Cherry Bomb One", system-ui;
      font-size: 4em;
      font-weight: 400;
      color: #0A5C1B;
      line-height: 70px;
      margin-bottom: 3.5rem;
  }

  .texto h2, .texto p {
      font-family: "Josefin Sans";
      color: #272523;
      margin-bottom: 0.9em;
      font-size: 1.4em;
  }

  .texto p {
      margin-bottom: 2.5em;
      margin-left: 0px;
      font-size: 1.2em;
  }

  .texto h2 {
      margin-bottom: 1em;
  }

  .conocelos-btn {
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: x-large;
    color: white;
    background-color: #58C22F;
    border: none;
    font-family: "Josefin Sans";
  }
}

/* Mobile Filtros y Tarjetas */

/* Filtros */

@media (max-width: 992px) {

  .mascotas-container {
    width: 100%;
    height: 1300px;
    background-color: #C08AF3;
    box-shadow: rgba(0, 0, 0, 0.25);

  }
  
  .mascotas-barra {
    width: 100%;
    height: 60px;
    gap: 1rem;
    background-color: #F0D8FF;
  }

  .opciones-mascota {
    width: auto;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
  }

  #bars-2 {
    color: #ED8A0A;
    margin-right: 5px;
  }

  select[name='ordenar'] {
    background-color: #ED8A0A;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-family: 'Josefin Sans';
  }
  
  #btn-limpiar {
    background-color: #ED8A0A;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-family: 'Josefin Sans';
  }

  #btn-limpiar::placeholder {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ED8A0A;
    text-align: center;
    font-family: 'Josefin Sans';
  }

  select[name='ordenar-2'] {
    background-color: #5C2E80;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-family: 'Josefin Sans';
  }

/* Tarjetas */

  .mascotas-filtros {
    width: auto;
    margin: 40px;
    text-align: center;
    display: none;
  }

  .mascotas-filtros.active {
    width: auto;
    margin: 40px;
    text-align: center;
  }

  .tarjeta {
    width: auto;
    height: 500px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.412); 
    background-color: #ffffffbc; 
    max-width: 300px; 
    margin: 20px; 
  }

/* Tarjetas contenido */

  .tarjeta-img {
    width: 100%; 
    height: auto; 
    display: block; 
  }
  
  .tarjeta-contenido {
      padding: 20px; 
      font-size: 1em; 
      margin: 0 0 16px; 
      color: #1e1e1e; 
  }
  

}